.assignments ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.assignments li {
  padding: 12px 0;
  border-bottom: 1px solid var(--light-color);
}

.assignments li a {
  font-weight: 600;
}

.assignments li p {
  margin: 4px 0 0;
  color: var(--dark-color);
}

@media (width >= 600px) {
  .assignments li {
    padding: 16px 0;
  }
}
